* {
	margin: 0;
	padding: 0;
}
.container {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: aliceblue;
}

.buttons {
	padding: 1em 0em;
}

.button {
	padding: 0.5em;
	margin: 0em 1em;
}
